*{
  padding: 0%;
  margin: 0%;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: gray;
  
}

.box{
  background-color: antiquewhite;
  border-radius: 20px;
  height: 250px;
  width: 400px;
  text-align: center;
}

.box h1{
  padding: 15px;
}
.box input{
  margin-bottom: 20px;
}
.box button{
  margin-left: 20px;
}